VITE_API_BASE_URL=http://localhost:8080/api
ConnectionStrings__DefaultConnection=Data Source=/app/data/frostaura.db

EMAIL_SERVER=mailhog
EMAIL_PORT=1025
EMAIL_ACCOUNT=
EMAIL_PASSWORD=
EMAIL_SENDER_EMAIL=startup@frostaura.net
EMAIL_SENDER_NAME=FrostAura
EMAIL_ENABLE_SSL=false
EMAIL_SUPPORT_EMAIL=startup@frostaura.net
EMAIL_TIMEOUT_SECONDS=30
APP_URL=http://localhost:5173
EMAIL_BRAND_NAME=FrostAura
EMAIL_BRAND_OWNER=FrostAura
EMAIL_BRAND_PRIMARY_COLOR=#6f7ef7
EMAIL_BRAND_ALERT_COLOR=#7c6cff
